[submodule "sources/github.com/golang/lint"]
	path = sources/github.com/golang/lint
	url = https://github.com/golang/lint
[submodule "sources/github.com/dominikh/go-tools"]
	path = sources/github.com/dominikh/go-tools
	url = https://github.com/dominikh/go-tools.git
[submodule "sources/github.com/golang/tools"]
	path = sources/github.com/golang/tools
	url = https://github.com/golang/tools.git
[submodule "sources/github.com/nvm-sh/nvm"]
	path = sources/github.com/nvm-sh/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "sources/github.com/go-delve/delve"]
	path = sources/github.com/go-delve/delve
	url = https://github.com/go-delve/delve
[submodule "x330/brightness"]
	path = x330/brightness
	url = https://github.com/xy-tech/agan_brightness_X230_X330.git
[submodule "editors/vis/plugins/vis-ctags"]
	path = editors/vis/vis-ctags
	url = https://github.com/kupospelov/vis-ctags.git
[submodule "sources/github.com/google/walk"]
	path = sources/github.com/google/walk
	url = https://github.com/google/walk.git
