[submodule "sources/github.com/vim/vim"]
	path = sources/github.com/vim/vim
	url = https://github.com/vim/vim.git
[submodule "sources/github.com/jarun/nnn"]
	path = sources/github.com/jarun/nnn
	url = https://github.com/jarun/nnn.git
[submodule "sources/github.com/alacritty/alacritty"]
	path = sources/github.com/alacritty/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "sources/github.com/jonls/redshift"]
	path = sources/github.com/jonls/redshift
	url = https://github.com/jonls/redshift.git
[submodule "sources/github.com/BurntSushi/ripgrep"]
	path = sources/github.com/BurntSushi/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "sources/git.savannah.gnu.org/bash"]
	path = sources/git.savannah.gnu.org/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "sources/github.com/tmux/tmux"]
	path = sources/github.com/tmux/tmux
	url = https://github.com/tmux/tmux.git
[submodule "sources/github.com/universal-ctags/ctags"]
	path = sources/github.com/universal-ctags/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "sources/github.com/golang/lint"]
	path = sources/github.com/golang/lint
	url = https://github.com/golang/lint
[submodule "sources/github.com/dominikh/go-tools"]
	path = sources/github.com/dominikh/go-tools
	url = https://github.com/dominikh/go-tools.git
[submodule "sources/github.com/exercism/cli"]
	path = sources/github.com/exercism/cli
	url = https://github.com/exercism/cli.git
[submodule "sources/github.com/golang/tools"]
	path = sources/github.com/golang/tools
	url = https://github.com/golang/tools.git
[submodule "sources/github.com/nvm-sh/nvm"]
	path = sources/github.com/nvm-sh/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "sources/github.com/curl/curl"]
	path = sources/github.com/curl/curl
	url = https://github.com/curl/curl.git
[submodule "sources/github.com/junegunn/fzf"]
	path = sources/github.com/junegunn/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "sources/github.com/alols/xcape"]
	path = sources/github.com/alols/xcape
	url = https://github.com/alols/xcape.git
