[submodule "sources/github.com/jarun/nnn"]
	path = sources/github.com/jarun/nnn
	url = https://github.com/jarun/nnn.git
[submodule "sources/github.com/alacritty/alacritty"]
	path = sources/github.com/alacritty/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "sources/github.com/jonls/redshift"]
	path = sources/github.com/jonls/redshift
	url = https://github.com/jonls/redshift.git
[submodule "sources/github.com/BurntSushi/ripgrep"]
	path = sources/github.com/BurntSushi/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "sources/git.savannah.gnu.org/bash"]
	path = sources/git.savannah.gnu.org/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "sources/github.com/tmux/tmux"]
	path = sources/github.com/tmux/tmux
	url = https://github.com/tmux/tmux.git
[submodule "sources/github.com/universal-ctags/ctags"]
	path = sources/github.com/universal-ctags/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "sources/github.com/golang/lint"]
	path = sources/github.com/golang/lint
	url = https://github.com/golang/lint
[submodule "sources/github.com/dominikh/go-tools"]
	path = sources/github.com/dominikh/go-tools
	url = https://github.com/dominikh/go-tools.git
[submodule "sources/github.com/golang/tools"]
	path = sources/github.com/golang/tools
	url = https://github.com/golang/tools.git
[submodule "sources/github.com/nvm-sh/nvm"]
	path = sources/github.com/nvm-sh/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "sources/github.com/dnjp/nvi"]
	path = sources/github.com/dnjp/nvi
	url = git@github.com:dnjp/nvi.git
[submodule "sources/github.com/go-delve/delve"]
	path = sources/github.com/go-delve/delve
	url = https://github.com/go-delve/delve
[submodule "sources/git.notmuchmail.org/notmuch"]
	path = sources/git.notmuchmail.org/notmuch
	url = git://git.notmuchmail.org/git/notmuch
[submodule "x330/brightness"]
	path = x330/brightness
	url = https://github.com/xy-tech/agan_brightness_X230_X330.git
[submodule "sources/gitlab.com/interception/linux/tools"]
	path = sources/gitlab.com/interception/linux/tools
	url = https://gitlab.com/interception/linux/tools.git
[submodule "sources/gitlab.com/interception/linux/plugins/caps2esc"]
	path = sources/gitlab.com/interception/linux/plugins/caps2esc
	url = https://gitlab.com/interception/linux/plugins/caps2esc.git
[submodule "sources/github.com/dnjp/dwm"]
	path = sources/github.com/dnjp/dwm
	url = https://github.com/dnjp/dwm
[submodule "sources/github.com/dnjp/dmenu"]
	path = sources/github.com/dnjp/dmenu
	url = https://github.com/dnjp/dmenu
[submodule "sources/github.com/dnjp/slstatus"]
	path = sources/github.com/dnjp/slstatus
	url = https://github.com/dnjp/slstatus
[submodule "sources/github.com/Jguer/yay"]
	path = sources/github.com/Jguer/yay
	url = https://github.com/Jguer/yay.git
[submodule "sources/git.sr.ht/sircmpwn/aerc"]
	path = sources/git.sr.ht/sircmpwn/aerc
	url = https://git.sr.ht/~sircmpwn/aerc
[submodule "editors/vis/plugins/vis-ctags"]
	path = editors/vis/vis-ctags
	url = https://github.com/kupospelov/vis-ctags.git
[submodule "sources/github.com/dnjp/vis"]
	path = sources/github.com/dnjp/vis
	url = git@github.com:dnjp/vis.git
[submodule "sources/github.com/dnjp/plan9port"]
	path = sources/github.com/dnjp/plan9port
	url = git@github.com:dnjp/plan9port.git
[submodule "sources/github.com/9fans/go"]
	path = sources/github.com/9fans/go
	url = https://github.com/9fans/go.git
[submodule "sources/github.com/google/walk"]
	path = sources/github.com/google/walk
	url = https://github.com/google/walk.git
