#!/usr/bin/env rc

. /home/daniel/lib/profile

nextcloud & \
xscreensaver -no-splash & \
redshift & \
kb & \
trackpoint & \
fontsrv & \
plumber & \
factotum & \
exec rio -font 'GoRegular-10' -term 9t -virtuals 3
